
@model IEnumerable<Aula1AspNetMVC.Models.Cliente>

@{
    ViewBag.Title = "Teste";
}


<div>
   @Html.Raw(ViewBag.Ola)

</div>

@{ 
    foreach (var cliente in Model)
    {
        <div>
            @Html.Hidden("Id", cliente.Id)
        </div>
        <div>
            @Html.Label("txtNome", "Nome: ",
            new { text = "Nome:", @class = "control-label col-md-2" })
        </div>
        <div>
            @Html.TextBox("txtNome", cliente.Nome)
            @Html.TextBoxFor(model => cliente.Nome)  
            @Html.EditorFor(model => cliente.Nome)
        </div>

        <div>
            @Html.TextArea("txtNome2", new { row=5})
        </div>

        <div>
            @Html.ActionLink("Clique aqui", "Edit",
            new {cliente.Id }
           )
        </div>
        <div>
            @Html.LabelFor(model => cliente.Nome)
            
        </div>

        <div>
            @Html.RadioButton("cor", "verde", true) Azul
            @Html.RadioButton("cor", "vermelho", false) Vermelho
            @Html.RadioButton("cor", "preto", false) Preto
        </div>

        <div>
            @Html.ListBox("ListaCores",
            new SelectList(
                new List<string>()
                {
                    "Azul",
                    "Vermelho",
                    "Preto"
                }
            )
            )
        </div>

        <div>
            @Html.DropDownList("dropListCores",
            new SelectList(
                    new List<string>()
                    {
                        "Azul",
                        "Vermelho",
                        "Preto"
                    }
                )
           )
        </div>

        <div>
            @Html.DropDownListFor(c => cliente.Nome, 
           new SelectList(Model, "Id", "Nome"))
        </div>

        <div>
            @Html.DropDownList("Id", String.Empty)
        </div>

        <div>
            @Html.CheckBox("Certificado", false)Receber certificado?
        </div>
        <div>
           @{ 
               var teste = Html.Partial("_Saudacao");
           }
        </div>
        <div>
            @{ 
                Html.RenderPartial("_Saudacao");
            }
            
        </div>
        <div>
            <a href="@Url.Action("Index", "Home")">Home controller</a>
        </div>

     }
}
